<footer>
  

   
    <div><i class="bi bi-c-circle"></i>stayease pvt ltd</div>
    <div class="footer-social">
    <i class="bi bi-facebook"></i>
    <i class="bi bi-whatsapp"></i>
    <i class="bi bi-instagram"></i>
    </div>
    <div class="footer-links">
        <a href="privscy">privacy</a>
        <a href ="terms">terms and condition</a>
    </div>
  
</footer>