<style>
  .search-btn{
    background-color: red;
    color: white;
    border-radius: 25px;
    padding: 0.3rem 1rem;
    border: none;
  }
  .search-btn:hover{
    background-color: darkred;
    color: white;
  }
  .search-btn i{
    display:inline;
    margin-right: 0.3rem;
  }
  .search-text{
    border: 1px solid black;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    width: 20rem;
  }
</style>


<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    
    <!-- Brand Logo -->
    <a class="navbar-brand" href="/listings">
      <img src="/images/stayease-logo.png" alt="Stayease Logo" class="nav-logo">
    </a>

    <!-- Toggler for Mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
        <a class="nav-link" href="/listings">explore</a>
       
      </div>

       <div class="navbar-2 ms-auto">
      <form class="d-flex" role="search">
      <input class="search-text me-2" type="search" placeholder="Search destination" aria-label="Search"/>
      <button class="search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
    </form>
    </div>

      <!-- Auth Links (Right Side) -->
      <div class="navbar-nav ms-auto">
         <a class="nav-link" href="/listings/new">Add New Listing</a>
        <% if (!currentUser) { %>
          <a class="nav-link" href="/signup"><b>Signup</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %>
        <% if (currentUser) { %>
          <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
